*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #E7E3DA;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

#box{
    height: 18vmin;
    width: 18vmin;
    background-color: #4E4541;
    color: white;
    font-size: 8vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #4E4541;
    color: white;
    border-radius: 1rem;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #4E4541;
    color: white;
    border-radius: 1rem;
}

.msg-container{
    padding: 1rem;
    margin:1rem;
}

#msg{
    font-size: 5vmin;
    color: #4E4541;
}

.hide{
    display: none;
}